# Explore here

In [22]:
#Importar librerias
import pandas as pd
import numpy as np

region	price	year	manufacturer	model	condition	cylinders	fuel	odometer	transmission	drive	size	type	paint_color	description	state

In [23]:
#Cargar datos

#Dataset grande 1
df = pd.read_csv('../data/vehicles.csv', usecols=['region', 'price', 'year','manufacturer','model','condition','cylinders','fuel','odometer','transmission','drive','size','type','paint_color','description','state']) #cargar solo las columnas necesarias

#Dataset datos Ecuador - ignorar Ecuador
#df_ec=pd.read_csv('../data/patiotuerca2023-02-10.csv')

#Dataset 90000 cars 
#df_90k=pd.read_csv('../data/CarsData.csv')

In [24]:
#Explorar datos Dataset grande 1
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        426880 non-null  object
 1   price         426880 non-null  int64
 2   year          425675 non-null  float64
 3   manufacturer  409234 non-null  object
 4   model         421603 non-null  object
 5   condition     252776 non-null  object
 6   cylinders     249202 non-null  object
 7   fuel          423867 non-null  object
 8   odometer      422480 non-null  float64
 9   transmission  424324 non-null  object
 10  drive         296313 non-null  object
 11  size          120519 non-null  object
 12  type          334022 non-null  object
 13  paint_color   296677 non-null  object
 14  description   426810 non-null  object
 15  state         426880 non-null  object
dtypes: float64(2), int64(1), object(13)
memory usage: 52.1+ MB

In [25]:
df.head()

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,transmission,drive,size,type,paint_color,description,state
0,prescott,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,az
1,fayetteville,11900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ar
2,florida keys,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fl
3,worcester / central MA,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ma
4,greensboro,4900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nc

In [26]:
df.drop(columns=['description','condition','type','region'],inplace=True) #elimine region para ver si tengo mas datos.

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         426880 non-null  int64
 1   year          425675 non-null  float64
 2   manufacturer  409234 non-null  object
 3   model         421603 non-null  object
 4   cylinders     249202 non-null  object
 5   fuel          423867 non-null  object
 6   odometer      422480 non-null  float64
 7   transmission  424324 non-null  object
 8   drive         296313 non-null  object
 9   size          120519 non-null  object
 10  paint_color   296677 non-null  object
 11  state         426880 non-null  object
dtypes: float64(2), int64(1), object(9)
memory usage: 39.1+ MB

In [28]:
# Elimina todas las filas con valores nulos
df_cleaned = df.dropna()

# Muestra el número de filas antes y después de la limpieza
print(f"Filas antes de la limpieza: {len(df)}")
print(f"Filas después de la limpieza: {len(df_cleaned)}")

Filas antes de la limpieza: 426880
Filas después de la limpieza: 94711

In [29]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 94711 entries, 31 to 426836
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         94711 non-null  int64
 1   year          94711 non-null  float64
 2   manufacturer  94711 non-null  object
 3   model         94711 non-null  object
 4   cylinders     94711 non-null  object
 5   fuel          94711 non-null  object
 6   odometer      94711 non-null  float64
 7   transmission  94711 non-null  object
 8   drive         94711 non-null  object
 9   size          94711 non-null  object
 10  paint_color   94711 non-null  object
 11  state         94711 non-null  object
dtypes: float64(2), int64(1), object(9)
memory usage: 9.4+ MB

In [30]:
df_cleaned.head()

,price,year,manufacturer,model,cylinders,fuel,odometer,transmission,drive,size,paint_color,state
31,15000,2013.0,ford,f-150 xlt,6 cylinders,gas,128000.0,automatic,rwd,full-size,black,al
55,19900,2004.0,ford,f250 super duty,8 cylinders,diesel,88000.0,automatic,4wd,full-size,blue,al
59,14000,2012.0,honda,odyssey,6 cylinders,gas,95000.0,automatic,fwd,full-size,silver,al
65,22500,2001.0,ford,f450,8 cylinders,diesel,144700.0,manual,rwd,full-size,white,al
73,15000,2017.0,dodge,charger rt 4dr sedan,8 cylinders,gas,90000.0,automatic,rwd,mid-size,grey,al

In [31]:
#cambiar floats a int
pd.set_option('display.max_columns', None)
df_cleaned['year'].fillna(0, inplace=True)
df_cleaned['year'] = df_cleaned['year'].astype(int)
df_cleaned['odometer'] = df_cleaned['odometer'].astype(int)
df_cleaned.sample(20)

C:\Users\Juan\AppData\Local\Temp\ipykernel_19004\3109165968.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['year'].fillna(0, inplace=True)
C:\Users\Juan\AppData\Local\Temp\ipykernel_19004\3109165968.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['year'].fillna(0, inplace=True)
C:\Users\Juan\AppData\Local\Temp\ipykernel_19004\3109165968.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['year'] = df_cleaned['year'].astype(int)
C:\Users\Juan\AppData\Local\Temp\ipykernel_19004\3109165968.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['odometer'] = df_cleaned['odometer'].astype(int)

,price,year,manufacturer,model,cylinders,fuel,odometer,transmission,drive,size,paint_color,state
221474,18988,2012,ram,1500,8 cylinders,gas,100348,automatic,4wd,full-size,silver,mo
274116,1500,2006,chrysler,pacifica touring,6 cylinders,gas,112000,automatic,fwd,full-size,silver,ny
237439,43900,2016,ford,super duty f-250 srw,8 cylinders,diesel,118000,automatic,4wd,full-size,black,nc
388305,6995,2011,ford,fusion se,6 cylinders,gas,105000,automatic,fwd,full-size,custom,vt
399434,4999,2008,ford,focus ses coupe,4 cylinders,gas,106324,automatic,fwd,full-size,silver,va
267793,9890,2014,chevrolet,cruze,4 cylinders,gas,81299,automatic,fwd,mid-size,black,ny
75118,5850,1994,mercedes-benz,500sl,8 cylinders,gas,100000,automatic,rwd,mid-size,red,co
138725,7788,2011,mazda,mazda6,4 cylinders,gas,127850,automatic,fwd,compact,red,id
125741,20949,2013,mercedes-benz,gl-class,8 cylinders,gas,88890,automatic,4wd,mid-size,brown,ga
3937,8950,2008,infiniti,ex35 journey,6 cylinders,gas,159294,automatic,fwd,mid-size,custom,al
368429,29320,2019,gmc,acadia,6 cylinders,gas,33557,automatic,4wd,mid-size,custom,tx
165326,10500,2008,toyota,tacoma sr5,4 cylinders,gas,156554,manual,rwd,mid-size,orange,ks
32233,2500,2001,hyundai,santa fe,6 cylinders,gas,137200,automatic,fwd,mid-size,green,ca
5953,29995,2017,mercedes-benz,gla,4 cylinders,gas,49402,automatic,4wd,mid-size,white,ak
153607,6500,2008,mercedes-benz,c300,6 cylinders,gas,121000,automatic,rwd,mid-size,black,in
306290,6500,2002,ram,1500,8 cylinders,gas,203000,automatic,rwd,full-size,silver,ok
335608,9200,2006,toyota,avalon,6 cylinders,gas,29000,automatic,fwd,full-size,silver,pa
362187,22000,2008,saturn,sky roadster,4 cylinders,gas,13848,automatic,rwd,compact,green,tn
294830,16960,2019,kia,sportage,4 cylinders,gas,13638,automatic,fwd,compact,custom,oh
125521,0,2017,bmw,5 series,4 cylinders,gas,79929,automatic,rwd,mid-size,black,ga

In [32]:
# Assuming your DataFrame is named df
zero_price_listings = (df_cleaned['price'] == 0).sum()

# Print the result
print(f"Number of listings with a price of 0: {zero_price_listings}")

Number of listings with a price of 0: 5803

In [33]:
#Elimina listings con precio 0
df_cleaned = df_cleaned[df_cleaned['price'] != 0]

#Numero de filas despues del drop de listings con precio 0
print(f"Numero de filas despues de drop: {len(df_cleaned)}")

Numero de filas despues de drop: 88908

In [34]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88908 entries, 31 to 426833
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         88908 non-null  int64
 1   year          88908 non-null  int64
 2   manufacturer  88908 non-null  object
 3   model         88908 non-null  object
 4   cylinders     88908 non-null  object
 5   fuel          88908 non-null  object
 6   odometer      88908 non-null  int64
 7   transmission  88908 non-null  object
 8   drive         88908 non-null  object
 9   size          88908 non-null  object
 10  paint_color   88908 non-null  object
 11  state         88908 non-null  object
dtypes: int64(3), object(9)
memory usage: 8.8+ MB

In [38]:
df_cleaned.head()

,price,year,manufacturer,model,cylinders,fuel,odometer,transmission,drive,size,paint_color,state
31,15000,2013,ford,f-150 xlt,6 cylinders,gas,128000,automatic,rwd,full-size,black,al
55,19900,2004,ford,f250 super duty,8 cylinders,diesel,88000,automatic,4wd,full-size,blue,al
59,14000,2012,honda,odyssey,6 cylinders,gas,95000,automatic,fwd,full-size,silver,al
65,22500,2001,ford,f450,8 cylinders,diesel,144700,manual,rwd,full-size,white,al
73,15000,2017,dodge,charger rt 4dr sedan,8 cylinders,gas,90000,automatic,rwd,mid-size,grey,al

In [52]:
#Rango de precios
min_price = df_cleaned['price'].min()
max_price = df_cleaned['price'].max()
print(f"Price Range: ${min_price} to ${max_price}\n")

#Rango de Años
min_year = df_cleaned['year'].min()
max_year = df_cleaned['year'].max()
print(f"Year Range: {min_year} to {max_year}\n")

#Tipos de Size
SizeUnique = df_cleaned['size'].unique()
print(f'Unique Sizes: {SizeUnique}')

print("/")

#Tipos de manufacturer
ManufacturerUnique = df_cleaned['manufacturer'].unique()
print(f'Unique Manufacturers: {ManufacturerUnique}')

print("/")

#Tipos de Cylinders
CylindersUnique = df_cleaned['cylinders'].unique()
print(f'Unique Cylinders: {CylindersUnique}')

print("/")

#Tipos de Fuel
FuelUnique = df_cleaned['fuel'].unique()
print(f'Unique Fuel Types: {FuelUnique}')

print("/")

#Rango de Odometer
min_odometer = df_cleaned['odometer'].min()
max_odometer = df_cleaned['odometer'].max()
print(f"Odometer Range: {min_odometer} to {max_odometer}\n")

print("/")

#Tipos de Transmission
TransmissionUnique = df_cleaned['transmission'].unique()
print(f'Unique Transmissions: {TransmissionUnique}')  

print("/")

#Tipos de Drive
DriveUnique = df_cleaned['drive'].unique()
print(f'Unique Drives: {DriveUnique}')

print("/")

#Tipos de Paint Color
PaintColorUnique = df_cleaned['paint_color'].unique()  
print(f'Unique Paint Colors: {PaintColorUnique}')

print("/")

#Tipos de State
StateUnique = df_cleaned['state'].unique()
print(f'Unique States: {StateUnique}')

Price Range: $1 to $3736928711

Year Range: 1900 to 2022

Unique Sizes: ['full-size' 'mid-size' 'compact' 'sub-compact']
/
Unique Manufacturers: ['ford' 'honda' 'dodge' 'chrysler' 'toyota' 'jeep' 'lexus' 'chevrolet'
 'bmw' 'gmc' 'mercedes-benz' 'mazda' 'ram' 'nissan' 'ferrari' 'audi'
 'mitsubishi' 'infiniti' 'volkswagen' 'kia' 'pontiac' 'hyundai' 'fiat'
 'acura' 'cadillac' 'lincoln' 'jaguar' 'saturn' 'volvo' 'alfa-romeo'
 'buick' 'subaru' 'mini' 'mercury' 'rover' 'porsche' 'harley-davidson'
 'tesla' 'datsun' 'land rover' 'aston-martin']
/
Unique Cylinders: ['6 cylinders' '8 cylinders' '4 cylinders' '5 cylinders' '10 cylinders'
 '3 cylinders' 'other' '12 cylinders']
/
Unique Fuel Types: ['gas' 'diesel' 'hybrid' 'electric' 'other']
/
Odometer Range: 0 to 10000000

/
Unique Transmissions: ['automatic' 'manual' 'other']
/
Unique Drives: ['rwd' '4wd' 'fwd']
/
Unique Paint Colors: ['black' 'blue' 'silver' 'white' 'grey' 'yellow' 'red' 'green' 'brown'
 'purple' 'custom' 'orange']
/
Unique States: ['al' 'ak' 'az' 'ar' 'ca' 'co' 'ct' 'dc' 'de' 'fl' 'ga' 'hi' 'id' 'il'
 'in' 'ia' 'ks' 'ky' 'la' 'me' 'md' 'ma' 'mi' 'mn' 'ms' 'mo' 'mt' 'nc'
 'ne' 'nv' 'nj' 'nm' 'ny' 'nh' 'nd' 'oh' 'ok' 'or' 'pa' 'ri' 'sc' 'sd'
 'tn' 'tx' 'ut' 'vt' 'va' 'wa' 'wv' 'wi' 'wy']

In [16]:
df_cleaned.manufacturer.unique()

array(['ford', 'honda', 'dodge', 'chrysler', 'toyota', 'jeep', 'lexus',
       'chevrolet', 'bmw', 'gmc', 'mercedes-benz', 'mazda', 'ram',
       'nissan', 'ferrari', 'audi', 'mitsubishi', 'infiniti',
       'volkswagen', 'kia', 'pontiac', 'hyundai', 'fiat', 'acura',
       'cadillac', 'lincoln', 'jaguar', 'saturn', 'volvo', 'alfa-romeo',
       'buick', 'subaru', 'mini', 'mercury', 'rover', 'porsche',
       'harley-davidson', 'tesla', 'datsun', 'land rover', 'aston-martin'],
      dtype=object)

In [17]:
df_cleaned.model.unique()

array(['f-150 xlt', 'f250 super duty', 'odyssey', ..., 'cj 3a willys',
       'rx& gls sport', 'gand wagoneer'], shape=(9581,), dtype=object)

In [18]:
df_cleaned.transmission.unique()

array(['automatic', 'manual', 'other'], dtype=object)

In [19]:
df_cleaned[df_cleaned.manufacturer=='toyota']['model'].unique()

array(['fj cruiser', 'echo', 'tacoma 4x4', 'tundra', 'prius', 'camry',
       'solara', 'prius v hybrid', 'fj cruiser 4x4', 'camry xle',
       '4runner limited', 'tacoma', '4runner 4wd', 'avalon',
       'land cruiser', 'sienna xle', 'corolla le', 'yaris', '4runner sr5',
       '4runner trd pro 4x4', 'tacoma 4wd', 'hilux', 'tundra crewmax',
       'corolla', 'tacoma double cab sr5', 'camry se', '4runner', 'rav4',
       'sequoia sr5', 'rav-4', 'matrix', 'corolla s sedan 4d', 'yaris s',
       'highlander', 'sienna le', 'sequoia', 'prius v five',
       'camry hybrid le', '4runner sr5 premium', 'prius v hatchback',
       'highlander v-6', 'avalon limited', 'rav4 limited',
       'tacoma trd off road 4x4', 'tundra sr5', '4 runner sr5',
       'rav 4 le', 'tacoma limited', 'rav4 hybrid xle',
       'camry se 4dr sedan', 'tundra sr5 crew max',
       'sienna xle limited awd', 'venza awd', 'rav4 le', 'sienna',
       'yaris le', 'camry hybrid', 'venza le', 'landcruiser',
       'liteace 4wd', 'hiace', 'sienna xle awd', '4-runner sr5',
       'sienna xle limited', 'prius c', 'scion xb', 'corolla s.',
       'tundra 4x4', 'tacoma access cab', 'corolla 2006', 'rav4 fwd',
       'sequoia 4wd platinum', '4runner 4x4', 'corolla special edition',
       'camry le', 'camry v6', 'scion tc', 'corolla ce', 'corolla s',
       'prius prime premium', 'celica', 'c-hr', 'corolla im',
       'land cruiser landcruiser', 'tacoma prerunner v6',
       'tundra 2wd truck', 'rav 4 limited', 'mr2', 'rav4 hybrid limited',
       'tacoma access cab trd', 'rav4 adventure awd', '4runner sr5 4x4',
       'tundra sr5 double cab 4x4', 'corolla le 4dr sedan',
       'camry se awd', 'supra', 'yaris ia', 'sienna ce', 'prius v',
       'rav4 xle', 'rav4 sport', 'tundra sr5 sport',
       'rav4 all wheel drive', 'tundra sr5 double cab', 'pickup',
       'yaris le 3 dr', 'cressida', 'sienna le awd', 'prius hybrid',
       'tacoma trd off road', 'tacoma 2wd', 'sienna le 8 pass.',
       'tacoma prerunner', 'tacoma prerunner sr5', 'tacoma trd',
       'matrix s', 'tacoma limited v6', 'camry le 4dr sedan',
       'highlander hybrid limited', 'corolla xrs', 'tacoma trd pro',
       'matrix xr awd', 'tacoma 4x4 trd', 'yaris hatchback', 'solara sle',
       'sequoia 4wd', 'highlander sport', 'tacoma double cab 4x4',
       'rav4 "sport"', 'avalon xl', 'prius c two', 'fj 62',
       'camry solara', 'tacoma double cab', 'sienna limited',
       'tacoma trd prerunner', 'pickup truck', 'tacoma prerunner trd rwd',
       'tundra 4x4 trd', 'highlander limited 2016', 'tercel',
       'prius prime', 'tundra sr5 access cab 4x4', 'prius two',
       'hylander', 'yaris sedan', 'scion iq', 'fj 40', 'prius c three',
       '4runner sr5 4wd', 'corolla fx16', '22re', 'pre runner',
       'prius four', 'tundra 2wd', 'corolla hatchback', 'rv4',
       'pruis two', 'paseo', 'tundra sr5 v6', 'prius six', 'camry 2001',
       'sequoia limited 4wd', 'prius ii', 'yaris se', 'matrix xr',
       'highlander v6 limted', 'corolla le sports package', 'venza',
       '4runner sport edition', 'prius plug-in', 'prius five',
       'prius plus hybrid', 'omgea', 'scion xd', 'tundra crewmax 4wd',
       'highlander se awd v6', 'solara convertible', 'celica gt-s',
       'sequoia 4x4', 'sienna awd', '4runner 4wd sport edition',
       'tundra trd offroad', 'tundra crewmax 4x4', 'tundra 4wd truck',
       'tacoma trd off-road', 'tundra double cab limited',
       'tundra flat bed', 'highlander limited', 'pick up',
       'highlander base', 'highlander platinum', 'camry xle sedan 4d',
       'tundra limited', 'land cruiser fj60', 'sequoia limited', 'pruis',
       'highlander 4x4', '4runne sr5', 'land crusier',
       'tundra sr5 d/door', 'corolla le sedan', 'matrix xrs',
       'tacoma regular cab 2wd', '4runner sr5 sport awd',
       'matrix xr hatchback', 'highlander le plus v6', 'rav4 se',
       'tundra sr5 4x4', 'prius touring', 'prius c hybrid',
       'highlander awd', 'corolla.le', 'corolla..le', '4runner sr5 sport',
       'prius base 4dr sedan', 'scion xa', 'tacoma double cab trd',
       'tacoma trd sport', 'tacoma sr5 4x4', 'prius plug-in hybrid',
       'tundra sr5 4x4 trd', 'rav-4 4wd', 'tundra trd 4x4',
       'tundra limited double cab', 'corolla se', 'tundra platinum 4x4',
       'tundra sr5 trd 4x4', 'prius premium', 'sr-5', 'tundra access cab',
       'highlander xle', '4runner sporty', 'tacoma regular cab 4wd',
       'rav 4', 'tacoma sr5', 'tundra sr5 double cab 4wd', 'hilander',
       'previa sc', 'prius 2', 'prius two 2015', 'corolla liftback',
       'avalon xls', 'solara se', 'sienna le minivan', 'avalon xle',
       'highlander hybrid', 'tundra trd sport', 'corolla s plus',
       'prius prime advanced', 'mr2 spyder', 'rwd pick up truck',
       'tacoma trd 4x4', '4runner trd pro', 'camry solara convertible',
       'highlanderawd', 'camry ce', 'tundra sr5 crewmax',
       'landcruiser fjz', 'tundra grade', 'tacoma v6', 'rav4 hybrid',
       'avalon hybrid', 'tacoma doublecab', 'tacoma sport 4x4',
       'camry se sport', 't100 4x4', 'tundra double cab sr5',
       'camry 2.4l le', 'tundra trd pro', 'rav4 awd 5 speed',
       'tundra access cab sr5', 'highlander limited awd',
       'tundra double cab', 'avalon limited sedan 4d',
       'bj74 land cruiser', '4runner limited 4x4', 'pilot exl',
       'camry xle 4c', 'winnebago', 'land cruiser fj62',
       'landcruiser fj40', 'rav4 awd', 'rav4 awd v6', 'prius three',
       'camry xl', 'tacoma 2d', 'rav4 4wd 5 speed',
       'solara sle convertible', 'sienna se', 'rav4 base', 'celica trd',
       'corolla le 4d sedan', 'camry solara sle v6',
       'rav4 hybrid xle awd', 'corolla se 4d sedan', 'carolla',
       'tacoma truck 4x4', 'tundra 1794 4x4', 'tundra 4wd',
       'corolla s sedan', '4 runner', 'rav', 'camry v6 auto le',
       'corolla “s”', '4 runner trd pro', 'tundra limited 4x4',
       'tundra crewmax sr5 4x4', 'camry 4d sedan', 'crown', 'rav4 hv',
       'solara se convertible', 'highlander se', 'corolla matrix',
       'land cruiser fj40', 'celica gt sunchaser', 'matrix base',
       'tundra 2wd truck limited', 'corolla sport', 'prius hybrid five',
       'corolla le automatic', 'corolla camry', 'avalon hybrid limited',
       'tundra crewmax 4x4 5.7l', 'tundra trd off road',
       'prius hybrid hatchback', 'celica gt', 'celica gt convertible',
       'martrix', 'corolla .', 'corolla matrix xr', 'sienna minivan',
       'sera', 'camry xle v6', 'tundra 2 wd', 'supra twin turbo',
       'camry solara se v6', '4runner sr5 v6 4x4', 'camry xse', '86',
       'camry se(sports edition)', 'camry se (sports edition)',
       'highlander v6 (awd)', 'celica st', 'hilux surf', 'corrolla',
       'yaris ia sedan', 'tundra limited trd 4x4', 'prius prius ii',
       'yaris sedan le', 'highlander limited platin', 'sprinter carib',
       'highlander 4wd 3.3', 'rav4 limited 4x4', 'tundra limited crewmax',
       'fj cruiser 4wd', 'corona', 'highlander limited 4wd',
       'avalon limited hybrid', 'rav4 sport v6', 't100', 'rav4 xle awd',
       'tacoma v6 sr5 4wd', 'camry xle4', 'avalon touring',
       'sienna le 2011', 'pickup 4x4', 'camry solara sle',
       'sienna se 8 passenger', 'rav4 le automatic', 'townace diesel',
       'venza xle awd', 'prius four touring', 'yaris coupe hatchback',
       'rav4 4wd limited', 'tacoma double cab sr', 'sequoia sr5 4wd',
       'tundra sr5 limited', '4runner sport edition 4wd', 'avalon xlt',
       'land cruiser fj80', 'rav-4 xle', 'sequoia platinum',
       'solara sport', '4x4 truck', '4runner trail premium', 'corolla dx',
       'rav4 limited awd', 'tacoma 2008', 'rav4 limited v6',
       'rav4 limited 4wd', 'corolla apex se', 'venza se', 'camry xle v 6',
       'corolla l', 'tundra double cab 4x4', 'sienna xle premium',
       'highlander v6 4wd', 'rav 4 4wd 5 speed', 'yaris se hatchback',
       'corrola le', 'fj40', 'rav4h', 'priusc', 'rav4 awd limited',
       'prius iv', 'hiace van', 'venza le awd', 'camry xle sedan',
       '4runner limited v8 4x4', 'camery', 'rav adventure',
       'tacoma trd sport access', 'prius 3', 'corolla le plus',
       'avalon xle plus', 'tacoma sr5 rwd', 'scion tc 2.4 dohc',
       'sienna xle 7 passenger', 'prius 4dr', 'fj', 'tundra sr5 5.7',
       'highlander le hybrid', 'camry se 2.5', 'venza limited awd',
       'sienna awd xle limited', 'avalon xse', 'rav4 4x4', 'matrix s awd',
       'prius iii', 'rav4 newgener', 'camry hybrid sedan',
       'tundra sr double cab', 'sienna limited awd', 't-100',
       'tundra rock warrior', 'tundra off road 4x4', 'rav4 xle 4wd',
       'highlander ltd', 'rav4 sport 4wd', 'tundra platinum',
       '4runner trd offrd premium', 'corolla hybrid le',
       'rav4 hybrid xse', 'highlander se awd', 'highlander le',
       'tacoma trd 4wd', 'tacoma 2wd crew cab',
       'tundra access cab sr5 4wd', 'camry hybrid xle',
       'fj62 land cruiser', 'camry se 4-dr sedan', 'hilux surf 4runner',
       'estima emina', 'tundra sr', '4runner trd off road',
       'tacoma double cab 4wd v6', 'tacoma access cab 4wd sr5',
       'landcruiser fj60', 'tundra sr5 trd', 'tundra sr5 4wd',
       'tacoma sr5 trd sport', 'rav4 4 x 4', 'highlander hybrid awd',
       'avalon ltd', 'avalong limited', 'camry se v6',
       'land cruiser 100 series', 'celsior', 'van', 'camry xls',
       'tundra platinum crewmax', 'avalon hybrid xle touring',
       'prius two hatchback 4d', 'camrey le', 'avalon xle premium',
       '4runner sr', 'tacoma pre-runner v6', 'prius persona series',
       'tacoma access cab sr', 'tacom', 'chr', 'highlander limited pla',
       'corolla - le', 'camry - se', 'celica convertible', 'hino',
       'rav4 4wd', 'turcel sr5 4wd', 'rav4 limited fwd', 'highlander v6',
       'fj40 land cruiser', 'sequoia sr5 platinum', 'tacoma x runner',
       'sianna', 'hiace 4wd', 'townace camper', 'tacoma 4 x 4',
       'hzj75 landcruiser', 'liteace', 'townace', 'prius v 5',
       'rav4 sport awd', 'tundra limited 4x4 gas', 'tacoma trd sport 4x4',
       'tacoma sr5 v6', 'highlander plus', 'mrx', 'matrix awd',
       'rav4 prime xse', 'tacoma srs', 'prius hybrid cab',
       'venza limited', 'rav 4 xle', 'sienna limited premium',
       'tundra (4.7l)', '2 door echo', 'camry le 2.4l', 'landcruier',
       'venza awd v6', 'camry solara sel', 'venza awd xle',
       'tacoma xtracab', 'camry sedan', 'prius c one', 'camry dx',
       'previa', 'salara sle', 'prius hatchback', 'rav 4 xle 4x4',
       'seirra', '4runner 4x4 4dr. suv', 'sienna le van', 'corolla eco',
       'hiace super custom 4wd jdm van, model lh107',
       'tacoma double cab trd 4x4', 'electric rav4 prime xse awd',
       'camry ce sedan', 'tacoma x-cab', 'tacoma access cab sr5',
       'highlander sport utility', 'corolla ce sedan',
       'tundra double cab sr', 'corolla xle', 'tacoma 4x4 limited',
       'avalon xl/xls', 'supra jza80', 'yaris 2dr hatchback',
       'mr2 spyder convertible', 'tacoma sr5 dbl lb', 'camry se sedan',
       'celica gts', 'avalon xle sedan 4d', 'rav4 ltd', 'camry 4dr.xle',
       'tacoma sport', '4runner sr5 premium 4x4', 'tacoma sr5 prerunner',
       '4runner limited v8 awd', 'camry se special edition',
       '4runner sport v8 4x4', 'sienna ltd', 'tundra crewmax sr5 pickup',
       'camry 4x4', 'tundra crewmax platinum', 'tundra double cab 4wd',
       'hiace diesel', 'tacoma access cab pickup', 'tundra crewmax sr5',
       'tacoma prerunner double c', 'tacoma double cab limited',
       'rav 4 hybrid limited', 'tacoma standard cab', 'camry l', '4x4',
       'hiace scl 4wd', 'tubdra sr5', 'fj cruiser 4wd auto', 'yari ia',
       'avalon xle touring', 'tundra sr5 4wd 5.7l 1 owner',
       'camry le sedan', 'camry se auto 4dr', 'highlander suv',
       'camry 4d sedan le', '4- runner', 'matrix sports', 'sequoia srs',
       'tundra sr 4x4', 'rav4 le awd', 'sequoia platinum 4x4',
       'corolla le sport', 'solara conv.', 'supra 3.0 premium gr',
       'fj cruiser 2011', 'tundra 4wd truck sr5', 'rav 4 limited awd',
       'prius 5', 'highlander xle v-6', 'camry se v-6', 'rav limited',
       'highlander base awd', 'tacoma trd offroad', 'highlander awd le',
       'celica supra', 'prius 2 hybrid', 'sequioa sr5',
       'land cruiser 4wd', '4runner sr5 **4wd**',
       'tundra 4 doors, limited', '4runner sr5 sport utility',
       'prius hybrid 2011', 'tacoma pickup', 'scion',
       'highlander sport 4x4', 'tundra trd pro 4x4', 'four runner',
       'venza ltd awd', 't100 dx', 'tacoma 4x4 trd off road',
       'tundra sr5 trd off road', 'prius c hatchback',
       'tacoma prerunner sr5 trd', 'tacoma extended cab', 'rav4 s',
       'camry xle hybrid', 'highlander 2wd', 'matrix 4wd'], dtype=object)

Se hace con un ciclo for o con una Lambda function

In [20]:
#funcion para juntar datasets  
#df['year']=df['year'].astype('int64')
#df_90k_p2=df_90k[['model','year','Manufacturer','engineSize','mpg']] / aca solo dejamos las columnas que nos interesan
#df_merged=pd.merge(df,df_90k_p2, how='left', left_on=['model','year','manufacturer'], right_on=['model','year','Manufacturer'])
#df_merged.head()