# Explore here

In [58]:
#Importar librerias
import pandas as pd
import numpy as np

In [59]:
#Cargar datos

#Dataset grande 1
df=pd.read_csv('../data/vehicles.csv')

#Dataset datos Ecuador - ignorar Ecuador
#df_ec=pd.read_csv('../data/patiotuerca2023-02-10.csv')

#Dataset 90000 cars 
df_90k=pd.read_csv('../data/CarsData.csv')

In [60]:
#Explorar datos Dataset grande 1
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  object
 2   region        426880 non-null  object
 3   region_url    426880 non-null  object
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   condition     252776 non-null  object
 9   cylinders     249202 non-null  object
 10  fuel          423867 non-null  object
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  object
 13  transmission  424324 non-null  object
 14  VIN           265838 non-null  object
 15  drive         296313 non-null  object
 16  size          120519 non-null  object
 17  type          334022 non-null  object
 18  paint_color   296677 non-null  object
 19  image_url     426812 non-null  object
 20  description   426810 non-null  object
 21  county        0 non-null       float64
 22  state         426880 non-null  object
 23  lat           420331 non-null  float64
 24  long          420331 non-null  float64
 25  posting_date  426812 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 84.7+ MB

In [61]:
df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,VIN,drive,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [62]:
df.drop(columns=['id','url','region_url','image_url','county','posting_date','VIN'],inplace=True)

In [63]:
pd.set_option('display.max_columns', None)
df.sample(10)

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,description,state,lat,long
122613,atlanta,5500,1979.0,chevrolet,c30,NaN,NaN,gas,1000.0,clean,automatic,NaN,NaN,NaN,NaN,Finally decided to sell my long coming project...,ga,33.941800,-84.070600
144975,rockford,9500,1999.0,jaguar,xk8 convertible,NaN,NaN,gas,66000.0,clean,automatic,NaN,NaN,NaN,NaN,"66,000 original miles. Always stored in heate...",il,42.318500,-88.997200
133722,east idaho,18000,2017.0,nissan,rogue,excellent,4 cylinders,gas,61000.0,clean,automatic,4wd,full-size,SUV,grey,all wheel drive new battery transission and en...,id,43.467000,-112.063200
381151,san antonio,19995,2015.0,ford,mustang ecoboost,like new,NaN,gas,87389.0,clean,automatic,rwd,NaN,NaN,NaN,WE FINANCE! $1000 DOWN! CALL or TEXT David a...,tx,29.337400,-98.539300
414975,appleton-oshkosh-FDL,26950,2015.0,bmw,750xi xdrive m-sport edition,NaN,NaN,gas,90485.0,clean,automatic,NaN,NaN,NaN,NaN,2015 BMW 750xi xDrive M-Sport Edition AWD ✔ W...,wi,44.843195,-91.550371
215621,minneapolis / st paul,9000,2000.0,mercedes-benz,s430,like new,8 cylinders,gas,83500.0,clean,automatic,rwd,full-size,sedan,white,2000 Mercedes-Benz S430 everything works. Nev...,mn,44.882535,-93.462830
420603,madison,20900,2003.0,chevrolet,corvette,good,8 cylinders,gas,49446.0,clean,manual,fwd,mid-size,convertible,black,"2003 Chevrolet Corvette 2dr Convertible - $20,...",wi,42.189800,-91.775800
408978,seattle-tacoma,12500,2014.0,ford,escape se,good,4 cylinders,gas,94000.0,clean,automatic,4wd,mid-size,SUV,black,"Hi, I’m trying to sell my black 2014 Ford Esca...",wa,47.663300,-122.302200
13469,prescott,15590,2016.0,NaN,Scion iM Hatchback 4D,good,NaN,other,41036.0,clean,other,NaN,NaN,hatchback,blue,Carvana is the safer way to buy a car During t...,az,34.620000,-112.420000
26033,fresno / madera,48990,2012.0,ford,f-350 super duty,excellent,NaN,gas,15812.0,clean,automatic,4wd,NaN,pickup,grey,2012 *** Ford F-350_ F350_ f350_ F 350_ Super ...,ca,36.533226,-119.576488

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 19 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        426880 non-null  object
 1   price         426880 non-null  int64
 2   year          425675 non-null  float64
 3   manufacturer  409234 non-null  object
 4   model         421603 non-null  object
 5   condition     252776 non-null  object
 6   cylinders     249202 non-null  object
 7   fuel          423867 non-null  object
 8   odometer      422480 non-null  float64
 9   title_status  418638 non-null  object
 10  transmission  424324 non-null  object
 11  drive         296313 non-null  object
 12  size          120519 non-null  object
 13  type          334022 non-null  object
 14  paint_color   296677 non-null  object
 15  description   426810 non-null  object
 16  state         426880 non-null  object
 17  lat           420331 non-null  float64
 18  long          420331 non-null  float64
dtypes: float64(4), int64(1), object(14)
memory usage: 61.9+ MB

In [65]:
df_90k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97712 entries, 0 to 97711
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         97712 non-null  object
 1   year          97712 non-null  int64
 2   price         97712 non-null  int64
 3   transmission  97712 non-null  object
 4   mileage       97712 non-null  int64
 5   fuelType      97712 non-null  object
 6   tax           97712 non-null  int64
 7   mpg           97712 non-null  float64
 8   engineSize    97712 non-null  float64
 9   Manufacturer  97712 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 7.5+ MB

In [66]:
df_90k.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,Manufacturer
0,I10,2017,7495,Manual,11630,Petrol,145,60.1,1.0,hyundi
1,Polo,2017,10989,Manual,9200,Petrol,145,58.9,1.0,volkswagen
2,2 Series,2019,27990,Semi-Auto,1614,Diesel,145,49.6,2.0,BMW
3,Yeti Outdoor,2017,12495,Manual,30960,Diesel,150,62.8,2.0,skoda
4,Fiesta,2017,7999,Manual,19353,Petrol,125,54.3,1.2,ford

De la DF 90k, podemos agregar la columna de "engineSize" y "mpg" ya que en el DF1 solo esta el cilindraje y "mpg" podemos cambiarlo a "km/l"

In [67]:
#df_ec.info()

In [ ]:
#df_ec.head()

,Año,Kilómetraje,Precio,Lugar,Negociacion,Categoría,Marca,Subtipo,Modelo,Publicación,...,Color,Último número de la placa,Dirección,Motor(cilindraje),Tapizado,Placa,Tipo de Motor,Entrada desde,Cuotas desde,Número de cuotas
0,2016,71000,40.9,Loja,Negociable,USED,Ford,Todoterreno,Explorer,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,98000,23.9,Quito,Negociable,USED,Mitsubishi,Todoterreno,Outlander,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022,39000,37.9,Quito,Negociable,USED,Toyota,Todoterreno,RAV 4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2008,224000,10.9,Quito,Negociable,USED,Nissan,Todoterreno,X-Trail,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,151000,26.5,Riobamba,Negociable,USED,Ford,Todoterreno,Explorer XLT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#pd.set_option('display.max_columns', None)
#df_ec.sample(20)

,Año,Kilómetraje,Precio,Lugar,Negociacion,Categoría,Marca,Subtipo,Modelo,Publicación,Recorrido,Vidrios,Transmisión,Combustible,Sistema de climatización,Tracción,Color,Último número de la placa,Dirección,Motor(cilindraje),Tapizado,Placa,Tipo de Motor,Entrada desde,Cuotas desde,Número de cuotas
2205,2019,0,31.900,Quito,Negociable,USED,Nissan,Todoterreno,X-Trail Exclusive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,2017,90000,16.400,Quito,Negociable,USED,Great Wall,Camioneta Doble Cabina,WINGLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6891,2013,221000,12.200,Quito,Negociable,USED,Nissan,Todoterreno,X-Trail Classic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5768,2002,187000,15.500,Otavalo,Negociable,USED,Mitsubishi,Todoterreno,Montero Blister,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3813,2019,88000,17.200,Guayaquil,Negociable,USED,Great Wall,Camioneta Doble Cabina,Wingle 5 AC CD 4X2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,2019,43000,26.900,Quito,Negociable,USED,Mazda,Camioneta Doble Cabina,BT-50 CD 4x2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2738,2015,167000,29.900,Quito,Fijo,USED,Toyota,Todoterreno,Fortuner 2.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6921,2016,80000,15.900,Quito,Negociable,USED,Chevrolet,Todoterreno,Grand Vitara SZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8378,2018,38000,17.900,Quito,Negociable,USED,Great Wall,Todoterreno,H6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6835,2014,146230,25.900,Cuenca,Negociable,USED,Chevrolet,Camioneta Doble Cabina,D-MAX CRDI FULL AC 3.0 CD 4X4 TM DIESEL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6317,2019,42500,52.250,Santo Domingo,Fijo,USED,Toyota,Todoterreno,Fortuner 4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
822,2022,19000,29.900,Quito,Negociable,USED,Mazda,Camioneta Doble Cabina,BT-50 CD 4x2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6219,2018,95000,34.999,Guayaquil,Fijo,USED,Ford,Todoterreno,Edge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4807,2018,80000,37.700,Cuenca,Negociable,USED,Chevrolet,Camioneta Doble Cabina,D-MAX CRDI 3.0 CD 4X4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1596,2010,74313,44.900,Cuenca,Negociable,USED,Toyota,Camioneta Doble Cabina,Tundra TRD Pro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3721,2001,200000,6.800,Quito,Negociable,USED,Chevrolet,Coupé,Astra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7678,2011,210000,16.990,Riobamba,Negociable,USED,Hyundai,Todoterreno,Tucson IX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4628,2021,21760,22.800,Quito,Negociable,USED,Chevrolet,Todoterreno,Tracker LS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1601,2013,97494,29.800,Quito,Negociable,USED,BMW,Sedán,320i,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5090,2022,1,139.000,Guayaquil,Negociable,USED,Jeep,Camioneta Doble Cabina,Gladiator Mojave,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#df_ec.drop(columns=['Negociacion','Categoría','Publicación','Vidrios','Sistema de climatización','Último número de la placa','Color','Tapizado','Placa','Entrada desde','Cuotas desde','Número de cuotas'],inplace=True)

In [ ]:
#df_ec.head()

,Año,Kilómetraje,Precio,Lugar,Marca,Subtipo,Modelo,Recorrido,Transmisión,Combustible,Tracción,Dirección,Motor(cilindraje),Tipo de Motor
0,2016,71000,40.9,Loja,Ford,Todoterreno,Explorer,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,98000,23.9,Quito,Mitsubishi,Todoterreno,Outlander,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022,39000,37.9,Quito,Toyota,Todoterreno,RAV 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2008,224000,10.9,Quito,Nissan,Todoterreno,X-Trail,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,151000,26.5,Riobamba,Ford,Todoterreno,Explorer XLT,NaN,NaN,NaN,NaN,NaN,NaN,NaN